{block title}Obuka{/block}
{block content}

<div class="container">
    <h1>Dobro došli na OpenStreetMap obuku!</h1>
    <p><i>Ova stranica služi samo za potrebe obuke.</i>

    <div class="alert alert-success">Ovdje upišite svoje ime ili nadimak. Korisnički nalog na OpenStreetMap ćete kreirati kasnije.</div>

    {control loginForm}

</div>
