
<h2>Aktuelno <a href="https://twitter.com/intent/follow?screen_name=osmbih"
                 class="btn btn-link twitter-follow">Pratiti @osmbih</a></h2>
<!-- {$presenter[TwitterPlugin]->write('weekly', 1)}  -->
{$presenter[TwitterPlugin]->write('twitter', 2)}
